<nav class="navbar navbar-light navbar-toggleable-sm bg-faded justify-content-center">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to 'Платёжное приложение', root_path, class: 'navbar-brand' %>
    <div class="navbar-collapse collapse" id="collapsingNavbar3">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link", href="">Вы вошли как <%= current_user.email %></a>
            </li>
            <li class="nav-item">
              <%= link_to 'Посты', admin_publications_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Войти', new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Регистрация', new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>
